﻿@model FormularzPrzyjecie.Models.Goscie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formularz</title>
</head>
<body>
    <div>
        <h2>Formularz do wypełnienia</h2>
        <br />
        @using (Html.BeginForm())
        {
            <p>
                Imię: @Html.TextBoxFor(f => f.Imie)
                @Html.ValidationMessageFor(m => m.Imie)
            </p>
            <p>
                Nazwisko: @Html.TextBoxFor(f => f.Nazwisko)
                @Html.ValidationMessageFor(m => m.Nazwisko)
            </p>
            <p>Płeć: @Html.DropDownListFor(f => f.Plec, new[] {
                                                                new SelectListItem() {Text="Mężczyzna", Value="Mężczyzna"},
                                                                new SelectListItem() {Text="Kobieta", Value="Kobieta"}
                                                              }, "Wybierz płeć")</p>
            <p>
                Czy przyjdziesz na przyjęcie? @Html.DropDownListFor(f => f.Obecnosc, new []{
                                                                new SelectListItem() {Text="Tak, przyjdę", Value=bool.TrueString},
                                                                new SelectListItem() {Text="Nie, nie przyjdę", Value=bool.FalseString}
                                                              }, "Wybierz opcję")
                @Html.ValidationMessageFor(m => m.Obecnosc)
            </p>
            <p>
                Czy przyjdziesz z osobą towarzyszącą? @Html.DropDownListFor(f => f.OsobaTow, new []{
                                                                new SelectListItem() {Text="Tak", Value=bool.TrueString},
                                                                new SelectListItem() {Text="Nie", Value=bool.FalseString}
                                                              }, "Wybierz opcję")
                @Html.ValidationMessageFor(m => m.OsobaTow)
            </p>
            <input type="submit" value="Wyślij formularz" />
        }
    </div>
</body>
</html>
