﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zaproszenie na przyjęcie</title>
</head>
<body>
    <div>
        @ViewBag.Powitanie

        <p style=" font-size: 30px; color: #ABABDC"> Serdecznie zapraszamy na wspaniałe przyjęcie.<br />
        Termin imprezy .......</p>

        @Html.ActionLink("Wyślij formularz", "Formularz")
    </div>
</body>
</html>
