﻿@model FormularzPrzyjecie.Models.Goscie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Podziekowanie</title>
</head>
<body>
    <div>
        <h2>Dziękujemy @Model.Imie! </h2>
        @if (Model.Obecnosc == true)
        {
            @:To wspaniale że będziemy się razem bawić.<br />
            @:Do zobaczenia!
        }
        else
        {
            @:Przykro nam że Cię nie będzie, dziękujemy natomiast za odpowiedź.
        }
        <p>
            @Html.ActionLink("Powrót do strony głównej", "Index")
        </p>
    </div>
</body>
</html>
